@using System.IdentityModel.Tokens

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var fromURL = Request.Params["FileNames"];

    if (fromURL == null)
    {
        foreach (var name in ViewBag.FILES_FROM_UPLOAD)
        {
            fromURL = name.FILE_NAME;
        }

    }

}



@model List<ITPM_Code_Complexity_Tool.Models.Controlstructure>

<link href="~/Content/style1.css" rel="stylesheet"/>
<link href="~/Content/Cize,Variable,Methods_CSS.css" rel="stylesheet" />

<h1 style="color: white; font-weight: bold">Control Structure Calculate</h1>
<br/>


@*set weight again*@
<button type ="button" onclick='window.location.href = "../ControlStrcture/SetWeight?fileName=@fromURL"' class="btn btn-success" >
    Set Weight Again
</button>


@*go to toool menu*@
<button type="button" onclick='window.location.href = "../Upload/Tool_Home?fileName=@fromURL"' class="btn btn-primary">
    Go Back To Tool Menu
</button>


<br/>
    <br/>


<table class="table" style="color: black">
    <thead>
    <tr id="ROW1">
        <th scope="col">Line no</th>
        <th scope="col">Program Statements</th>
        <th scope="col">Wtcs</th>
        <th scope="col">NC</th>
        <th scope="col">Ccspps</th>
        <th scope="col">Ccs</th>
    </tr>
    </thead>
    <tbody>

    @{

        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr style="padding:23px;">
                    <th scope="row">@item.LineNO</th>
                    <td>@item.ProgramStatment</td>
                    <td>@item.Wtcs</td>
                    <td>@item.NC</td>
                    <td>@item.Ccpps
                    <td>@item.Ccs</td>

                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row">null</th>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null<td>
                <td>null</td>

            </tr>

        }

    }

    </tbody>
</table>






