@model IEnumerable<ITPM_Code_Complexity_Tool.Models.CdueToVariables>

@{
    Layout = null;

    var fromURL = Request.Params["fileName"];

    if (fromURL == null)
    {
        foreach (var name in ViewBag.FILES_FROM_UPLOAD)
        {
            fromURL = name.FILE_NAME;
        }

    }
}

<!DOCTYPE html>

<link href="~/Content/style1.css" rel="stylesheet" />
<link href="~/Content/Cize,Variable,Methods_CSS.css" rel="stylesheet" />
<body>


    <h1 style="color:white;">Displaying the complexity of a program due to Variables </h1>

    <div align="right">
        <input class="button button3" type="button" value="Calculate Complexity due to Size" onclick="location.href='../ComplexitySizeVariablesMethods/ComplexitySize?fileName=@fromURL'" />   &nbsp;  &nbsp;    <input class="button button3" type="button" value="Calculate Complexity due to Methods" onclick="location.href='../ComplexitySizeVariablesMethods/ComplexityMethods?fileName=@fromURL'" />
    </div><br /><br />

    <table style="color: black;">
        <tr id="ROW1">
            <td>Line No</td>
            <td>Code Line</td>
            <td>Wvs </td>
            <td>Npdtv </td>
            <td>Ncdtv </td>
            <td>Cv </td>
        </tr>

        @{
            foreach (var item in Model)
            {
                <tr style="padding:23px;">
                    <td> @item.lineNo </td>
                    <td> @item.CODELINE </td>

                    @if (item.WeightDueToVScope != 0 && item.NoPrimitiveDataTypeVariables > 0 || item.NoCompositeDataTypeVariables > 0)
                    {
                        <td> @item.WeightDueToVScope </td>
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (item.NoPrimitiveDataTypeVariables != 0)
                    {
                        <td> @item.NoPrimitiveDataTypeVariables </td>
                    }
                    else if (item.WeightDueToVScope != 0 && item.NoCompositeDataTypeVariables != 0)
                    {
                        <td> 0 </td>
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (item.NoCompositeDataTypeVariables != 0)
                    {
                        <td> @item.NoCompositeDataTypeVariables </td>
                    }
                    else if (item.WeightDueToVScope != 0 && item.NoPrimitiveDataTypeVariables != 0)
                    {
                        <td> 0 </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td> @item.Cv </td>

                </tr>


            }


        }
        <tr id="ROW1">
            <td> Total </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @ViewBag.TotalCv
            </td>

        </tr>
    </table>
</body>
